// ==============================
// Custom style
// 自定义样式
// ==============================

html[lang="fa"],
body.fa {
    direction: rtl;
    text-align: start;
    // Add more RTL-specific styles here
}

.code-block {
    direction: ltr;
    text-align: start;
}

$custom-light-purple : #8B5DFF;

[theme=dark] h1 {
    color: $custom-light-purple;
}

[theme=dark] h2,
[theme=dark] h3 {
    color: rgba($custom-light-purple, 0.75);
}